@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT Book';
    src: url('../fonts/circularxx-tt/CircularXXTT-Book.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT ExtraBlack';
    src: url('../fonts/circularxx-tt/CircularXXTT-ExtraBlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT Book';
    src: url('../fonts/circularxx-tt/CircularXXTT-BookItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT ExtraBlack';
    src: url('../fonts/circularxx-tt/CircularXXTT-ExtraBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CircularXX TT';
    src: url('../fonts/circularxx-tt/CircularXXTT-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

